/* TODO: use Sass */
:root {
	--primary: #90bdc2;
	--secondary: #2a5865;
	--success: #ffa600;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #d96704;
	--light: #f0ede8;
	--dark: #403b34;
	font-family: 'Roboto', sans-serif;
}
/* overwrite generic */
body {
	margin: 0px;
	font-size: 16px;
	background-color: var(--primary);
}

.main {
	background-color: white;
	height: 100vh;
}

button {
	padding: 0px;
	font-size: 16px;
}

button:focus {
	outline: none;
}

input {
	border: none;
	font-size: 1rem;
}

input:focus {
	outline: none;
}

label {
	display: block;
	font: 1rem;
}

/* responsive */
@media only screen and (max-width: 480px) {
	.main {
		width: 100%;
		margin: auto;
	}
}

@media only screen and (min-width: 481px) {
	.main {
		width: 445px;
		margin: auto;
	}
}


.vh-100 {
	height: 100vh;
}

.width-100 {
	width: 100%;
}

.relative {
	position: relative;
}

.fixed {
	position: fixed;
}

.top0 {
	top: 0px;
}

.no-border {
	border: none;
}

.no-border:focus {
	outline: none;
}

.no-background {
	background: none;
}

.flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.space-between {
	justify-content: space-between;
}

.primary {
  background-color: var(--primary);
}

.secondary {
  background-color: var(--secondary);
}

.white-font {
	color: white;
}

.primary-font {
	color: var(--primary);
}

.black-font {
	color: black;
}

.shadow {
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
		0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.form-dialog {
	width: 90%;
	margin: 2rem auto;
}

/* Floating Add Button Style */
.fab-add {
	border: 1px solid var(--primary);
	border-radius: 50%;
	padding: 0px;
	height: 40px;
	width: 40px;
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
		0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
	background-color: var(--primary);
	color: white;
	position: fixed;
	right: 50%;
	bottom: 20px;
}
/*container*/
.container-body {
	height: auto;
}
/* slide out side nav */
.side-nav {
	height: auto;
}
/* Item List Style */
.item-list {
	display: flex;
	align-items: stretch;
}

.item-list-col-date{
	padding: 10px;
	width: 50px;
	display: inline-block;
}

.item-list-col-items {
	display: inline-block;
	width: calc(100% - 100px);
}

/* Item Dialog style */
.item-dialog {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100vh;
	background: white;
}

/* Item Card Style  */
.item-card {
  margin: 5px auto;
	/* width: 98%; */
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	border: 1px solid var(--primary);
	padding: 0px 10px;
}
.item-card .card-text-wrapper .card-title {
	font-family: Roboto, sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: 1rem;
	line-height: 2rem;
	font-weight: 500;
	letter-spacing: 0.0125em;
	/* text-decoration: inherit;
	text-transform: inherit; */
}

.item-card .card-text-wrapper .card-subtext {
	font-family: Roboto, sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	line-height: 1.25rem;
	letter-spacing: 0.0178571429em;
	/* text-decoration: inherit;
	text-transform: inherit; */
	opacity: 0.6;
}
.item-card .card-text-wrapper {
  padding: 0.25em;
}


/* loading waiting ball */
.bounce-ball {
	align-self: flex-end;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	background-color: #f44336;
	height: 200px;
	margin: 0 auto 0 auto;
	transform-origin: bottom;
	width: 200px;
	border-radius: 50%;
}

.bounce-6 {
	animation-name: bounce-6;
	animation-timing-function: ease;
}

@keyframes bounce-6 {
	0% {
		transform: scale(1, 1) translateY(0);
		background-color: #ffa600ed;
	}
	10% {
		transform: scale(1.1, 0.9) translateY(0);
		background-color: #d96704;
	}
	30% {
		transform: scale(0.9, 1.1) translateY(-100px);
		background-color: #f0ede8;
	}
	50% {
		transform: scale(1.05, 0.95) translateY(0);
		background-color: #90bdc2;
	}
	57% {
		transform: scale(1, 1) translateY(-7px);
		background-color: #2a5865;
	}
	64% {
		transform: scale(1, 1) translateY(0);
		background-color: #2a5865;
	}
	100% {
		transform: scale(1, 1) translateY(0);
		background-color: #2a5865;
	}
}
